APP_PORT=3000
APP_IMAGE_TAG=1.0.0
DB_IMAGE_TAG=postgres-16
POSTGRES_DB=tasty_crousty
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-password
DATABASE_URL=postgres://postgres:change-this-password@localhost:5432/tasty_crousty